*.o
*.ptx
*.prog 
*.log
*.pyc
tmp*.json 
*/__pycache__/*
*/*/__pycache__/* 
*/*.pyc
*/*/*.pyc
simulator/test/*_util.py
.coverage*
*.mtx 

benchmark/vectoradd/vectoradd
benchmark/vectorsum/vectorsum
benchmark/matrixtrans/matrixtrans 
benchmark/gemv/gemv 
benchmark/kmeans/kmeans
benchmark/knn/knn 
benchmark/maxpool/maxpool 
benchmark/upsample/upsample 
benchmark/blur/blur
benchmark/conv/conv 
benchmark/histogram/histogram 
benchmark/nw/nw 
benchmark/bfs/bfs 
benchmark/pagerank/pagerank  

.coverage 
